{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    <title>Sign up</title>
</head>
<body>
    <div class="login-container">
        <h2>Sign up</h2>
        <form method="post">
            {% csrf_token %}
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message {% if message.tags %}{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password_1" name="password_1" required>

            <label for="password">Re-Enter Password:</label>
            <input type="password" id="password_2" name="password_2" required>

            <button type="submit">Sign up</button>
        </form>
    </div>
</body>
</html>