
/* Login password */

.password-container {
    position: relative;
}

input[id="password"] {
    padding-right: 0px;
    width: 95.7%;
}

#togglePassword {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #1B4242;
}

/* Sign_up password_1 */

input[id="password_1"] {
    padding-right: 0px;
    width: 95.7%;
}

#togglePassword_1 {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #1B4242;
}

/* Sign_up password_2 */

input[id="password_2"] {
    padding-right: 0px;
    width: 95.7%;
}

#togglePassword_2 {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #1B4242;
}